<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D75CC3C01C2A926100E590E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75CC3D91C2A926200E590E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75CC3E41C2A926200E590E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
